amqp==2.6.1
annotated-types==0.5.0
anyio==3.7.1
billiard==3.6.4.0
celery==4.4.7
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
fastapi==0.103.1
h11==0.14.0
idna==3.4
importlib-metadata==4.13.0
kombu==4.6.11
Pillow==10.0.0
prompt-toolkit==3.0.39
pydantic==2.3.0
pydantic_core==2.6.3
pypng==0.20220715.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
qrcode==7.4.2
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.20
starlette==0.27.0
stripe==6.5.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
vine==1.3.0
wcwidth==0.2.6
zipp==3.16.2
